/* 
	template: internet management
	author: luka cvrk (www.solucija.com)
*/
body {
	color: #303030;
	background: #ebebeb;
	font: .74em Arial, Verdana, sans-serif;
	text-align: center;
	line-height: 1.6em;
	margin: 2.5em 0;
}
